In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame([[1,2,3],[4,5,6],[7,8],[5,5,6]])
df1

   0  1    2
0  1  2  3.0
1  4  5  6.0
2  7  8  NaN
3  5  5  6.0

### iloc & loc

In [3]:
nda = np.array([[1, 2, 3], [4, 5, 6] ,[7, 8, 9]])

In [5]:
df = pd.DataFrame(nda, index=['a', 'b', 'c'] , columns=["A", "B", "C"])
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [6]:
df.iloc[0]

A    1
B    2
C    3
Name: a, dtype: int64

In [12]:
df.loc[:, "A"]

a    1
b    4
c    7
Name: A, dtype: int64