In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame(np.arange(1,10).reshape(3,3),
                 #index = ["a", "b", "c"],
                 columns = ["A", "B", "C"])
df.head()

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
df.shift(1, axis = 0,fill_value='**')

    A   B   C
0  **  **  **
1   1   2   3
2   4   5   6

In [12]:
df.stack(0).to_dict()

{(0, 'A'): 1,
 (0, 'B'): 2,
 (0, 'C'): 3,
 (1, 'A'): 4,
 (1, 'B'): 5,
 (1, 'C'): 6,
 (2, 'A'): 7,
 (2, 'B'): 8,
 (2, 'C'): 9}

In [18]:
df = pd.DataFrame([["red", "x",1,1],
                 ["red",'x',0,1],
                ['black','y',0,2],
                ['red','y',1,0],
                ['red','y’,2,0],
                ['black','x',2,1]],
                columns=[‘A’,’B’,’C’,’D’])

SyntaxError: EOL while scanning string literal (3796316784.py, line 5)