In [3]:
import pandas as pd
import numpy as np

In [14]:
df = pd.DataFrame(np.random.rand(100).reshape(-1,4))
print(df.shape)
df.head()

(25, 4)

          0         1         2         3
0  0.583286  0.654328  0.728939  0.678206
1  0.930043  0.092466  0.810944  0.211477
2  0.163219  0.527295  0.782686  0.837095
3  0.112014  0.273931  0.666565  0.549005
4  0.177312  0.674094  0.081235  0.681991