In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([['red','x',1,1],
        ['red','x',0,1],
        ['black','y',0,2],
        ['red','y',1,0],
        ['red','y',2,0],
        ['black','x',2,1]],
        columns=['A','B','C','D'])

df

       A  B  C  D
0    red  x  1  1
1    red  x  0  1
2  black  y  0  2
3    red  y  1  0
4    red  y  2  0
5  black  x  2  1

In [14]:
pd.pivot_table(df,
               values=["C", "D"],
               index = ["A"],
               columns= ["C"],
                aggfunc = "sum")

         D
C        0    1    2
A
black  2.0  NaN  1.0
red    1.0  1.0  0.0

In [17]:
df.apply('sum', axis = 1)

/tmp/ipykernel_5294/1777650142.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.apply('sum', axis = 1)

0    2
1    1
2    2
3    1
4    2
5    3
dtype: int64