In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"col1":[1,2], "col2":[3,4]})
df

   col1  col2
0     1     3
1     2     4

In [5]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [7]:
df.keys()

Index(['col1', 'col2'], dtype='object')

In [10]:
df.columns

Index(['col1', 'col2'], dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    2 non-null      int64
 1   col2    2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes

In [15]:
df.values

array([[1, 3],
       [2, 4]], dtype=int64)

In [16]:
df.shape

(2, 2)

In [17]:
df.empty

False

In [20]:
df.isna()

    col1   col2
0  False  False
1  False  False

In [21]:
df.drop_duplicates()

   col1  col2
0     1     3
1     2     4

In [23]:
import numpy as np
df = pd.DataFrame([("Falcon", "bird", 389.0),
                  ("Parrot", "bird", 24.0),
                  ('lion', "mammal", 80),
                  ("monkey", "mammal", np.nan)],
                 columns=["name", "class", "max_speed"],
                 index = [0,2,3,1])

In [24]:
df.head()

     name   class  max_speed
0  Falcon    bird      389.0
2  Parrot    bird       24.0
3    lion  mammal       80.0
1  monkey  mammal        NaN

## Data Frame .append

In [30]:
df = pd.DataFrame([[1,2],[3,4]], columns=list("AB"))
df

   A  B
0  1  2
1  3  4

In [31]:
df2 = pd.DataFrame([[5,6], [7,8]], columns=list("AB"))
df2

   A  B
0  5  6
1  7  8

In [34]:
df.append(df2,ignore_index=True)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [42]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2a7d3326dee660824a8433ffd01065f8ac37f7d6
python           : 3.8.3.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : Korean_Korea.utf8

pandas           : 1.1.2
numpy            : 1.19.1
pytz             : 2020.1
dateutil         : 2.8.1
pip              : 20.2.3
setuptools       : 49.6.0.post20200814
Cython           : 0.29.21
pytest           : 6.0.2
hypothesis       : None
sphinx           : 3.2.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.3
lxml.etree       : 4.5.2
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 2.11.2
IPython          : 7.18.1
pandas_datareader: None
bs4              : 4.9.1
bottleneck       : 1.3.2
fsspec           : 0.8.2
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.2
numexpr          : 2.7.1
odfpy            : None
openpyxl         : 3.0.5
pandas_gbq       : None
pyarrow          : None
pytables         : None
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.3.19
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 1.2.0
xlwt             : 1.3.0
numba            : 0.51.2