In [15]:
import pandas as pd
import numpy as np

In [20]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 5C38-E82B

 Directory of C:\Users\krish\Desktop\Git Hub\Data_Analysis\Pandas-Cookbook-master

12/23/2019  10:24 PM    <DIR>          .
12/23/2019  10:24 PM    <DIR>          ..
12/23/2019  10:15 PM    <DIR>          .ipynb_checkpoints
12/23/2019  10:13 PM    <DIR>          Pandas-Cookbook-master
12/23/2019  10:24 PM             8,818 practice_1.ipynb
               1 File(s)          8,818 bytes
               4 Dir(s)  75,181,780,992 bytes free

In [21]:
movie = pd.read_csv("Pandas-Cookbook-master\data\movie.csv")

In [22]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [25]:
movie.index

RangeIndex(start=0, stop=4916, step=1)

In [27]:
data = movie.values

In [28]:
type(data)

numpy.ndarray

In [32]:
data.shape,movie.shape,type(data),type(movie)

((4916, 28), (4916, 28), numpy.ndarray, pandas.core.frame.DataFrame)

In [36]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [39]:
movie.get_dtype_counts() #Count the total Numbers of Col data Type

float64    13
int64       3
object     12
dtype: int64

In [43]:
movie.director_name
#pd.reset_option("^display")

0            James Cameron
1           Gore Verbinski
2               Sam Mendes
3        Christopher Nolan
4              Doug Walker
5           Andrew Stanton
6                Sam Raimi
7             Nathan Greno
8              Joss Whedon
9              David Yates
10             Zack Snyder
11            Bryan Singer
12            Marc Forster
13          Gore Verbinski
14          Gore Verbinski
15             Zack Snyder
16          Andrew Adamson
17             Joss Whedon
18            Rob Marshall
19        Barry Sonnenfeld
20           Peter Jackson
21               Marc Webb
22            Ridley Scott
23           Peter Jackson
24             Chris Weitz
25           Peter Jackson
26           James Cameron
27           Anthony Russo
28              Peter Berg
29         Colin Trevorrow
               ...
4886            Eric Eason
4887              Uwe Boll
4888     Richard Linklater
4889       Joseph Mazzella
4890          Travis Legge
4891         Alex Kendrick
4892         Marcus Nispel
4893       Brandon Landers
4894           Jay Duplass
4895            Jim Chuchu
4896            Daryl Wein
4897           Jason Trost
4898           John Waters
4899       Olivier Assayas
4900          Jafar Panahi
4901         Ivan Kavanagh
4902      Kiyoshi Kurosawa
4903          Tadeo Garcia
4904    Thomas L. Phillips
4905       Ash Baron-Cohen
4906         Shane Carruth
4907      Neill Dela Llana
4908      Robert Rodriguez
4909       Anthony Vallone
4910          Edward Burns
4911           Scott Smith
4912                   NaN
4913      Benjamin Roberds
4914           Daniel Hsia
4915              Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [46]:
director = movie.director_name
type(director)

pandas.core.series.Series

In [50]:
#director.to_frame()
#director

In [54]:
director.shape,director.size, director.count() #Count will remove NAN value

((4916,), 4916, 4814)

In [57]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [61]:
director.isnull().sum(),director.isnull().count() , director.shape

(102, 4916, (4916,))

In [68]:
director.value_counts(normalize=False) #True
director.hasnans
director.notna
director.notnull()
5

5

In [69]:
imdb_score = movie["imdb_score"]

In [70]:
imdb_score.head()

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
Name: imdb_score, dtype: float64

In [72]:
(imdb_score+1).head() # Add One to all

0    8.9
1    8.1
2    7.8
3    9.5
4    8.1
Name: imdb_score, dtype: float64

In [74]:
(imdb_score*2).head() #Multiply 2 in All row

0    15.8
1    14.2
2    13.6
3    17.0
4    14.2
Name: imdb_score, dtype: float64

In [78]:
(imdb_score>7).head()

0     True
1     True
2    False
3     True
4     True
Name: imdb_score, dtype: bool

In [79]:
director = movie.director_name

In [83]:
imdb_score[director == "James Cameron"] #

0       7.9
26      7.7
285     8.5
288     7.2
599     7.6
2455    8.4
3508    8.1
Name: imdb_score, dtype: float64

In [85]:
imdb_score.add(1).head() #mul() , floordiv()  , gt()  , eq ("James Cameron") = director == "James Cameron"

0    8.9
1    8.1
2    7.8
3    9.5
4    8.1
Name: imdb_score, dtype: float64

In [87]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [90]:
actor_1_fb_likes = movie["actor_1_facebook_likes"]
director = movie.director_name

In [91]:
actor_1_fb_likes.dtype

dtype('float64')

In [92]:
actor_1_fb_likes.fillna("0")\
.astype(int)\
.head()

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int32