In [2]:
import pyspark

In [1]:
# create SparkSession
# If java not installed properly Error will raise 
# Uninstall java and re install
from pyspark.sql import SparkSession

spark = SparkSession\
.builder\
.appName("Python spark First example")\
.config("spark.some.config.option", "some-value")\
.getOrCreate()

In [2]:
df = spark.sparkContext.parallelize([(1,2,3,"a b c"),
                                     (4,5,6,"d e f"),
                                     (7,8,9,"g h i")
                                    ])\
                                    .toDF(["col1" , "col2"])

In [3]:
df.show()

+----+----+---+-----+
|col1|col2| _3|   _4|
+----+----+---+-----+
|   1|   2|  3|a b c|
|   4|   5|  6|d e f|
|   7|   8|  9|g h i|
+----+----+---+-----+

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession \
.builder \
.appName("Python Spark create RDD example") \
.config("spark.some.config.option", "some-value") \
.getOrCreate()
df = spark.sparkContext\
.parallelize([(1, 2, 3, 'a b c'),
(4, 5, 6, 'd e f'),
(7, 8, 9, 'g h i')])\
.toDF(['col1', 'col2', 'col3','col4'])
df.show()

+----+----+----+-----+
|col1|col2|col3| col4|
+----+----+----+-----+
|   1|   2|   3|a b c|
|   4|   5|   6|d e f|
|   7|   8|   9|g h i|
+----+----+----+-----+

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Python first program to create RDD")\
        .config("spark.some.config.option","some-value")\
        .getOrCreate()

In [6]:
Employee = spark.createDataFrame([
    (1,"Joe", "10000",1),
    (2,"Joe", "10000",1),
    (3,"Joe", "10000",1),
    (4,"Joe", "10000",1),
    (5,"Joe", "10000",1),
],["ID","Name","Sallary","Department"])

In [7]:
Employee.show()

+---+----+-------+----------+
| ID|Name|Sallary|Department|
+---+----+-------+----------+
|  1| Joe|  10000|         1|
|  2| Joe|  10000|         1|
|  3| Joe|  10000|         1|
|  4| Joe|  10000|         1|
|  5| Joe|  10000|         1|
+---+----+-------+----------+

In [8]:
Employee.toPandas()

   ID Name Sallary  Department
0   1  Joe   10000           1
1   2  Joe   10000           1
2   3  Joe   10000           1
3   4  Joe   10000           1
4   5  Joe   10000           1

#### 3. By Using Read  or load functions

In [9]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Python Spark create RDD example")\
        .config("spark.some.config.option" , "some-value").getOrCreate()

df = spark.read.format("com.databricks.spark.csv").\
                        options(header = "true",\
                               inferschema = "true").\
                    load("../data/super_store.csv", header = "true")

In [10]:
df.show(5)

+------+---------------+----------+---------+--------------+-----------+---------------+-----------+-----------+---------------+---------+-----------+------+-------+----------------+---------------+------------+--------------------+-------+--------+--------+-------+-------------+--------------+
|Row ID|       Order ID|Order Date|Ship Date|     Ship Mode|Customer ID|  Customer Name|    Segment|       City|          State|  Country|Postal Code|Market| Region|      Product ID|       Category|Sub-Category|        Product Name|  Sales|Quantity|Discount| Profit|Shipping Cost|Order Priority|
+------+---------------+----------+---------+--------------+-----------+---------------+-----------+-----------+---------------+---------+-----------+------+-------+----------------+---------------+------------+--------------------+-------+--------+--------+-------+-------------+--------------+
| 42433|   AG-2011-2040|  1/1/2011| 6/1/2011|Standard Class|   TB-11280|Toby Braunhardt|   Consumer|Constantine|    Constantine|  Algeria|       null|Africa| Africa|OFF-TEN-10000025|Office Supplies|     Storage| Tenex Lockers, Blue|  408.3|       2|       0| 106.14|        35.46|        Medium|
| 22253|  IN-2011-47883|  1/1/2011| 8/1/2011|Standard Class|   JH-15985|    Joseph Holt|   Consumer|Wagga Wagga|New South Wales|Australia|       null|  APAC|Oceania| OFF-SU-10000618|Office Supplies|    Supplies|Acme Trimmer, Hig...|120.366|       3|     0.1| 36.036|         9.72|        Medium|
| 48883|   HU-2011-1220|  1/1/2011| 5/1/2011|  Second Class|     AT-735|  Annie Thurman|   Consumer|   Budapest|       Budapest|  Hungary|       null|  EMEA|   EMEA|OFF-TEN-10001585|Office Supplies|     Storage|Tenex Box, Single...|  66.12|       4|       0|  29.64|         8.17|          High|
| 11731|IT-2011-3647632|  1/1/2011| 5/1/2011|  Second Class|   EM-14140|   Eugene Moren|Home Office|  Stockholm|      Stockholm|   Sweden|       null|    EU|  North| OFF-PA-10001492|Office Supplies|       Paper|Enermax Note Card...| 44.865|       3|     0.5|-26.055|         4.82|          High|
| 22255|  IN-2011-47883|  1/1/2011| 8/1/2011|Standard Class|   JH-15985|    Joseph Holt|   Consumer|Wagga Wagga|New South Wales|Australia|       null|  APAC|Oceania| FUR-FU-10003447|      Furniture| Furnishings|Eldon Light Bulb,...| 113.67|       5|     0.1|  37.77|          4.7|        Medium|
+------+---------------+----------+---------+--------------+-----------+---------------+-----------+-----------+---------------+---------+-----------+------+-------+----------------+---------------+------------+--------------------+-------+--------+--------+-------+-------------+--------------+
only showing top 5 rows

In [12]:
df.printSchema() # printout the schema out in the Tree format

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Market: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)
 |-- Shipping Cost: double (nullable = true)
 |-- Order Priority: string (nullable = true)

In [13]:
## Once created, RDDs offer two types of operations: transformations and actions

In [16]:
# Read dataset from DataBase
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Python Spark create RDD example")\
        .config("spark.some.config.option", "some-value").getOrCreate()

In [18]:
user = "root"
pw = "ubuntu"
table_name = "city"
url = "localhost@root.com"
# see page 38 pyspark

In [19]:
# Read dataset from HDFS # page 38